* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-family: 'Poppins', sans-serif;

    background: #E5E5E5;
}

body::before {
    content: '';
    height: 436px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #041142;
}

.page {
    width: 750px;
    margin: auto;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    color: #FFFFFF;

    padding-top: 148px;
}

header p {
    font-family: 'Poppins', sans-serif;

    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    padding-top: 18px;
    padding-bottom: 58px;

}

form {
    background-color: #FFFFFF;
    border-radius: 8px 8px 0 0;
}

fieldset {
    border: none;
}

.legends {

    font-family: 'Staatliches';
    font-size: 24px;
    line-height: 34px;


    color: #535971;


    padding-left: 64px;
    padding-top: 64px;
    padding-bottom: 16px;
    margin-bottom: 24px;

    border-bottom: 1px solid rgba(163, 163, 238, 0.644);
    width: 750px;

}

.input-div {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 24px;


    color: #4E4958;


    display: flex;
    align-content: center;
    flex-direction: column;

    padding-left: 64px;
    padding-right: 64px;
    padding-top: 15px;

    margin-bottom: 48px;
    gap: 12px;
}
label span {
    padding-left: 8px;

    color: #a395c0;
}

label span:hover {
    color: #4E4958;

}

.nameinfo {
    display: flex;
    align-items: center;

}
.nameinfo div:nth-child(1){
    width: 100%;
}
.nameinfo div:nth-child(2){

    width:100%;
}
input {
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
    padding: 16px;
    border-radius: 8px;

    color: #a395c0;

    background: #FAFAFC;

}

input:invalid {
    border: 2px solid rgb(172, 10, 10);
}

select {
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
    padding: 12px;
    border-radius: 8px;

    color: #a395c0;


    width: 624px;
}

textarea {
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
    padding: 12px;
    border-radius: 8px;

    color: #a395c0;
}

footer {
    padding:54px;
    margin-bottom: 20px;
    width: 750px;
    border-radius: 0 0 8px 8px;

    display: flex;
    flex-direction: column;

    background-color:#041142;
}
button {
    font-family: 'Staatliches';
    font-size: 20px;
    line-height: 26px;
    
    color: #FFFFFF;
    background-color: #0d1ad6;
    border: 0;

    display: flex;
    flex-direction: column;
    padding-left: 279px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
}
button:hover{
    background-color: #2937ff;
    cursor: pointer;
}